// Home page

@import "node_modules/bootstrap/scss/mixins";

.home {
  &-content {
    padding-top: 2rem;
  }
}

.home > [class*='row'] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.home > [class*="row"]:first-child {
  padding-top: 2rem;
}

.home > [class*="row"]:last-child {
  padding-bottom: 2rem;
}
