// Grid

// Bootstrap variables
$grid-columns: 16;
$grid-gutter-width: 3rem;

// CSS Grid implementation
.grid-layout {
  max-width: 115.3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
  grid-gap: 3.2rem;
  grid-auto-rows: minmax(16.5rem, auto);
  grid-auto-flow: dense;
}

// Single grid item
.grid-item {
  ////padding: 1rem;
  //color: #929796;
  //background-color: #333;
}

// Symmetric grid items
.item-span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.item-span-3 {
  grid-column-end: span 3;
  grid-row-end: span 3;
}

// Asymmetric grid items
// width classes
.item-w-span-2 {
  grid-column-end: span 2;
}

.item-w-span-3 {
  grid-column-end: span 3;
}

.item-w-span-4 {
  grid-column-end: span 4;
}

// height classes
.item-h-span-2 {
  grid-row-end: span 2;
}

.item-h-span-3 {
  grid-row-end: span 3;
}

