// Grid

// Bootstrap variables
$grid-columns: 16;
$grid-gutter-width: 3rem;

// CSS Grid implementation
.grid-layout {
  max-width: 115.3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
  grid-gap: 3.2rem;
  grid-auto-rows: minmax(16.5rem, auto);
  grid-auto-flow: dense;
}

// Single grid item
.grid-item {
  ////padding: 1rem;
  //color: #929796;
  //background-color: #333;
}

