// Utilities

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
    $utilities,
    (
      "pill-card-width": (
        property: width,
        class: pill-w,
        responsive: true,
        values: (
          1: 14.25rem,
          2: 30.50rem,
          3: 46.75rem,
          4: 63.00rem,
          5: 65rem
        )
      )
    )
);

$utilities: map-merge(
    $utilities,
    (
      "pill-card-height": (
        property: height,
        class: pill-h,
        responsive: true,
        values: (
          xs: 10.00rem,
          s: 14.25rem,
          m: 30.50rem,
        )
      )
    )
);

