// Utilities

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
    $utilities,
    (
      "pill-card-width": (
        property: width,
        class: pill-w,
        responsive: true,
        values: (
          0: 20.5rem, // workspace
          1: 16.5rem,
          2: 36.2rem,
          3: 55.9rem,
        )
      )
    )
);

$utilities: map-merge(
    $utilities,
    (
      "pill-card-height": (
        property: height,
        class: pill-h,
        responsive: true,
        values: (
          xs: 10rem, // workspace
          s: 16.5rem,
          m: 36.2rem,
        )
      )
    )
);

