// Variables

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$border-radius-lg: 1rem;
$badge-border-radius: 50%;

// Shadow
$box-shadow: 0 0.2rem 0.5rem 0 rgba($black, .15);

// Spacing : adding more entries to the $spacers map
$custom-spacers: (
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 4.5,
  9: $spacer * 5,
  10: $spacer * 5.5
);

// Merge the spacers maps
$spacers: map-merge($spacers, $custom-spacers);
