<nav class="sidebar bg-secondary min-vh-100 d-flex flex-column justify-content-between">
  <ul class="nav">
    <li class="nav-item pt-5 w-100 text-center">
      <a class="nav-link fs-9 text-white" href="#">Brand</a>
    </li>
    <li class="nav-item py-2 w-100 text-center">
      <a class="nav-link" aria-current="page" href="#">
        <svg class="nav-link__icon bi" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#house-door"/>
        </svg>
      </a>
    </li>
    <li class="nav-item py-2 w-100 text-center">
      <a class="nav-link" href="#">
        <svg class="nav-link__icon bi" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#pencil-square"/>
        </svg>
      </a>
    </li>
    <li class="nav-item py-2 w-100 text-center">
      <a class="nav-link" href="#">
        <svg class="nav-link__icon bi" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#cash-stack"/>
        </svg>
      </a>
    </li>
    <li class="nav-item py-2 w-100 text-center">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
        <svg class="nav-link__icon bi" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#graph-up"/>
        </svg>
      </a>
    </li>
    <li class="nav-item py-2 w-100 text-center">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
        <svg class="nav-link__icon bi" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#calendar2-week-fill"/>
        </svg>
      </a>
    </li>
    <li class="nav-item py-2 w-100 text-center">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
        <svg class="nav-link__icon bi" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#three-dots"/>
        </svg>
      </a>
    </li>
  </ul>
  <ul class="nav">
    <li class="nav-item pb-5 w-100 text-center">
      <a class="nav-link" href="#">
        <svg class="nav-link__icon bi" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#question-circle"/>
        </svg>
      </a>
    </li>
  </ul>
</nav>

