// Badge Component

@import "node_modules/bootstrap/scss/functions";

.badge-notification {
  @extend .badge;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.2rem 1.5rem;
}

.badge-icon {
  @extend .badge;
  padding: 1.2rem 1.2rem;
}
