<div class="container-lg">
  <div class="row">
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
    <div class="col-1 text-center">
      <div class="bg-success">col-1</div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-2 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-2 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-2 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-2 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-2 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-2 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-2 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-4 text-center pw">
      <lib-card [cardConfig]="customCardSettings1
     "></lib-card>
    </div>
    <div class="col-4 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-4 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-6 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-2 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-2 text-center pw">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
  </div>
  <div class="row">
    <div class="col-8 text-center pw-2">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-4 text-center pw-2">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-2 text-center pw-2">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
    <div class="col-2 text-center pw-2">
      <lib-card [cardConfig]="customCardSettings1"></lib-card>
    </div>
  </div>
</div>
