// Reset

@import "node_modules/bootstrap/scss/mixins";

html {
  font-size: 62.5%;

  @media (max-width: 425px) {
    font-size: 58.5%;
  }
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f8f9fa;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #ced4da;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #f8f9fa;  /* creates padding around scroll thumb */
}
